# Condicionales

In [ ]:
x = 3
y = 4
if x == y:
    print('El 5 es igual al 4')
    print('Hola')
    if y == 4:
        print('Hola 2')
    else:
        print(25)
elif x == 3:
    print(15)
else:
    print(10)

print('Chao')

In [4]:
x = 3
y = 4
if x == 3:
    print('El 5 es igual al 4')
    print('Hola')
    if y == 4:
        print('Hola 2')
    else:
        print(25)
# elif x == 3:
if x == 3:
    print(15)
else:
    print(10)

print('Chao')

El 5 es igual al 4
Hola
Hola 2
15
Chao

# Exercise 34: Even or Odd?
Write a program that reads an integer from the user. Then your program should display a message indicating whether the integer is even or odd.

In [6]:
a = int(input('Número entero: '))
if a % 2 == 0:
    print('El número es par')
else:
    print('El número es impar')

El número es par

# Exercise 35: Dog Years
As a result, some people believe that it is better to count each of the first two
human years as 10.5 dog years, and then count each additional human year as 4 dog years.

Write a program that implements the conversion from human years to dog years
described in the previous paragraph. Ensure that your program works correctly for
conversions of less than two human years and for conversions of two or more human
years. Your program should display an appropriate error message if the user enters
a negative number.

In [12]:
edad_real_del_perro = int(input('Edad real del perro: '))

if 0 <= edad_real_del_perro < 2:
    print('Edad humana del perro:', edad_real_del_perro * 10.5)
elif edad_real_del_perro >= 2:
    print(
        'Edad humana del perro:',
        2 * 10.5 + (edad_real_del_perro - 2) * 4
    )
else:
    print('Error. No hay edades negativas')

Edad humana del perro: 33.0

# Exercise 36:Vowel or Consonant
In this exercise you will create a program that reads a letter of the alphabet from the
user. If the user enters a, e, i, o or u then your program should display a message
indicating that the entered letter is a vowel. If the user enters y then your program
should display a message indicating that sometimes y is a vowel, and sometimes y is
a consonant. Otherwise your program should display a message indicating that the
letter is a consonant.

In [3]:
letra = (input('Letra a evaluar: '))

if letra == 'a' or letra == 'e' or letra == 'i' or letra == 'o' or letra == 'u':
    print('La letra es una vocal')
elif letra == 'y':
    print('Algunas veces "y" es una vocal y una consonante')
else:
    print(f'La letra {letra} es una consonante')

Algunas veces "y" es una vocal y una consonante

In [6]:
letra = input("Introduce una letra: ")

if letra in ['a', 'e', 'i', 'o', 'u']:
    print("La letra introducida es una vocal.")
elif letra == 'y':
    print("A veces y es una vocal, y a veces es una consonante.")
else:
    print("La letra introducida es una consonante.")

La letra introducida es una consonante.

In [ ]:
# Este código no funciona manera correcta
letra = input("Introduce una letra: ")

if letra == 'a' or 'e' or  'i' or  'o' or  'u':
    print('La letra es una vocal')
elif letra == 'y':
    print('Algunas veces "y" es una vocal y una consonante')
else:
    print(f'La letra {letra} es una consonante')

In [22]:
x = 'a'

print(x.isupper())
print(x.islower())
print(x.isdigit())
print(x.isalpha())
print(x.upper())
print(x.upper().lower())

print(len(x))
x = 'aisdfjdsakfjas'
print(len(x))

False
True
False
True
A
a
1
14

In [23]:
letra = input("Introduce una letra: ")
letra = letra.lower()

if len(letra) > 1:
    print('Ingresaste más de un caracter')
elif not letra.isalpha():
    print(f'El caracter "{letra}" no es una letra')
elif letra in ['a', 'e', 'i', 'o', 'u']:
    print("La letra introducida es una vocal.")
elif letra == 'y':
    print("A veces y es una vocal, y a veces es una consonante.")
else:
    print("La letra introducida es una consonante.")

Ingresaste más de un caracter

# Contenedores

Son tipos de datos más complejos que los que vimos inicialmente.
- Lista, `list`, []
- Tupla, `tuple`, ()
- Conjunto, `set`, {}
- Diccionario, `dict`, {"a": 1}

## Lista
- Es **mutable**

In [24]:
mi_primera_lista = [1, 2, 3, 4, 5]
print(mi_primera_lista)

[1, 2, 3, 4, 5]

In [25]:
x = 'hola'
[1, x, 3, x * 2, 4]

[1, 'hola', 3, 'holahola', 4]

In [26]:
mi_primera_lista[0]

1

In [27]:
mi_primera_lista[4]

5

In [28]:
mi_primera_lista[5]

IndexError: list index out of range

In [29]:
mi_primera_lista[0] = 'Hola'
mi_primera_lista

['Hola', 2, 3, 4, 5]

In [30]:
mi_primera_lista + mi_primera_lista

['Hola', 2, 3, 4, 5, 'Hola', 2, 3, 4, 5]

In [31]:
print(len(mi_primera_lista))
print(len(mi_primera_lista + mi_primera_lista))

5
10

In [33]:
mi_primera_lista * 2

['Hola', 2, 3, 4, 5, 'Hola', 2, 3, 4, 5]

In [34]:
mi_primera_lista - mi_primera_lista

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [36]:
mi_primera_lista.count(3)

1

In [37]:
mi_primera_lista.count(6)

0

In [38]:
lista_vacia = []

In [39]:
lista_vacia[0] = 'Hola'

IndexError: list assignment index out of range

In [40]:
lista_vacia.append(1)
lista_vacia

[1]

In [42]:
lista_vacia[0] = 'Hola'
lista_vacia[0]

'Hola'

In [47]:
l = [1, 2, 3, 4, 5]
print(l)
l.append(6)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [46]:
b = None
print(b)

None

In [48]:
str(b)

'None'

In [49]:
range(10)

range(0, 10)

In [50]:
range(1, 11)

range(1, 11)

In [51]:
lista_0_9 = list(range(10))
lista_0_9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
lista_1_10 = list(range(1, 11))
lista_1_10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
lista2 = list(range(1, 11, 2))
lista2

[1, 3, 5, 7, 9]

In [54]:
range('a', 'z')

TypeError: 'str' object cannot be interpreted as an integer

# Exercise 45:What Color is that Square?
Positions on a chess board are identified by a letter and a number. The letter identifies
the column, while the number identifies the row, as shown below:
Write a program that reads a position from the user. Use an if statement to determine if the column begins with a black square or a white square. Then use modular
arithmetic to report the color of the square in that row. For example, if the user enters
a1 then your program should report that the square is black. If the user enters d5
then your program should report that the square is white. Your program may assume
that a valid position will always be entered. It does not need to perform any error
checking.

In [55]:
cuadro = 'a8'

In [56]:
cuadro[0]

'a'

In [57]:
cuadro[1]

'8'

In [61]:
cuadro = input('Elige una celda (letra-número): ')

letra = cuadro[0]
numero = int(cuadro[1])
letras_negras = ['b', 'd', 'f', 'h']

if numero % 2 == 0:
    if letra in letras_negras:
        print('La celda es negra')
    else:
        print('La celda es blanca')
else:
    if letra in letras_negras:
        print('La celda es blanca')
    else:
        print('La celda es negra')

La celda es negra

## Tupla
- Es **inmutable**
- Se puede pensar como una lista, pero que no se puede modificar.

In [62]:
mi_primera_tupla = (1, 2, 3, 4, 5)

In [63]:
mi_primera_tupla[3]

4

In [64]:
mi_primera_tupla[0] = 'Hola'

TypeError: 'tuple' object does not support item assignment

In [65]:
t = ('hola', 1, 2)

In [66]:
t

('hola', 1, 2)

In [67]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [68]:
t.count('hola')

1

In [70]:
cuadro = 'd4'

letra = cuadro[0]
numero = int(cuadro[1])
letras_negras = ('b', 'd', 'f', 'h')

if numero % 2 == 0:
    if letra in letras_negras:
        print('La celda es negra')
    else:
        print('La celda es blanca')
else:
    if letra in letras_negras:
        print('La celda es blanca')
    else:
        print('La celda es negra')

La celda es negra

In [71]:
t + t

('hola', 1, 2, 'hola', 1, 2)

In [72]:
t * 3

('hola', 1, 2, 'hola', 1, 2, 'hola', 1, 2)

In [73]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [77]:
len(t)

3

## Conjuntos
- No permiten elementos repetidos

In [74]:
lista = [0, 0, 0, 1]
conjunto = {0, 0 , 0, 1}
print(lista)
print(conjunto)

[0, 0, 0, 1]
{0, 1}

In [75]:
set(lista)

{0, 1}

In [76]:
list(set(lista))

[0, 1]

In [78]:
len(conjunto)

2

In [79]:
a = {1, 2}
b = {2, 3}
c = b.intersection(a)
print(c)

{2}

In [81]:
a.union(b)

{1, 2, 3}

In [82]:
a = {1, 2}
b = {0, 3}
c = b.intersection(a)
print(c)

set()

In [84]:
set({})

set()

In [115]:
import numpy as np

In [85]:
from random import randint

In [114]:
randint(0, 10)

9

In [117]:
np.random.randint(0, 10, 100).tolist()

[4,
 3,
 4,
 5,
 1,
 7,
 1,
 2,
 6,
 1,
 4,
 2,
 5,
 7,
 6,
 8,
 6,
 5,
 6,
 9,
 9,
 8,
 8,
 1,
 8,
 1,
 3,
 2,
 8,
 7,
 7,
 4,
 4,
 8,
 1,
 5,
 5,
 5,
 1,
 3,
 8,
 7,
 6,
 7,
 1,
 4,
 8,
 2,
 5,
 8,
 0,
 6,
 4,
 5,
 0,
 2,
 5,
 3,
 0,
 8,
 2,
 9,
 8,
 9,
 9,
 3,
 3,
 5,
 7,
 0,
 1,
 7,
 6,
 2,
 0,
 4,
 1,
 6,
 4,
 7,
 8,
 0,
 1,
 6,
 6,
 9,
 2,
 1,
 3,
 8,
 4,
 3,
 3,
 8,
 7,
 6,
 2,
 9,
 5,
 4]

# Exercise 60: Roulette Payouts

### Pedro

In [2]:
from random import randint


Apuesta = int(input('Introduzca su selección para apostar: '))

# Suerte = randint(0 , 36)
Suerte = randint(-1 , 36)
print('La pelota cayó en la posición: ', Suerte)

if Suerte == -1:
  print( 'Paga: 00')

elif Suerte == 0:
  print( 'Paga: 0')

elif Suerte == Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 == 0 and 1 < Suerte < 18:
  print('Paga: ', Apuesta , 'Paga: Rojo' , 'Paga: Par', 'Paga: 1 a 18')

elif Suerte == Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 == 0 and Suerte > 18:
  print('Paga: ', Apuesta , 'Paga: Rojo' , 'Paga: Par', 'Paga: 19 a 36')

elif Suerte == Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 != 0 and 1 < Suerte < 18:
  print('Paga: ', Apuesta , 'Paga: Rojo' , 'Paga: Impar', 'Paga: 1 a 18')

elif Suerte == Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 != 0 and Suerte > 18:
  print('Paga: ', Apuesta , 'Paga: Rojo' , 'Paga: Impar', 'Paga: 19 a 36')

elif Suerte != Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 == 0 and 1 < Suerte < 18:
  print('Paga: Rojo' , 'Paga: par' , 'Paga: 1 a 18')

elif Suerte != Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 == 0 and Suerte > 18:
  print('Paga: Rojo' , 'Paga: par', 'Paga: 19 a 36')

elif Suerte != Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 != 0 and 1 < Suerte < 18:
  print('Paga: Rojo' , 'Paga: Impar', 'Paga: 1 a 18')

elif Suerte != Apuesta and Suerte in ( 1,3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34 , 36) and Suerte % 2 != 0 and Suerte > 18:
  print('Paga: Rojo' , 'Paga: Impar', 'Paga: 19 a 36')

elif Suerte == Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 == 0 and 1 < Suerte < 18:
  print('Paga: ', Apuesta , 'Paga: Negro' , 'Paga: Par', 'Paga: 1 a 18')

elif Suerte == Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 == 0 and Suerte > 18:
  print('Paga: ', Apuesta , 'Paga: Negro' , 'Paga: Par' , 'Paga: 19 a 36')

elif Suerte == Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 != 0 and 1 < Suerte < 18:
  print('Paga: ', Apuesta , 'Paga: Negro' , 'Paga: Impar' , 'Paga: 1 a 18')

elif Suerte == Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 != 0 and Suerte > 18:
  print('Paga: ', Apuesta , 'Paga: Negro' , 'Paga: Impar'  , 'Paga: 19 a 36')

elif Suerte != Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 == 0 and 1 < Suerte < 18:
  print('Paga: Negro' , 'Paga: par' , 'Paga: 1 a 18')

elif Suerte != Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 == 0 and Suerte > 18:
  print('Paga: Negro' , 'Paga: par', 'Paga: 19 a 36')

elif Suerte != Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 != 0 and 1 < Suerte < 18:
  print('Paga: Negro' , 'Paga: Impar', 'Paga: 1 a 18')

elif Suerte != Apuesta and Suerte in ( 2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33 , 35) and Suerte % 2 != 0 and Suerte > 18:
  print('Paga: Negro' , 'Paga: Impar' , 'Paga: 19 a 36')

La pelota cayó en la posición:  27
Paga: Rojo Paga: Impar Paga: 19 a 36

### Paula

In [ ]:
from random import randint

numero_aleatorio = randint(0, 37)
if numero_aleatorio == 37:
    print('El giro resultó en: 00')
    print('Paga: 00')
else:
    print('El giro resultó en: ' + str(numero_aleatorio))
    print('Paga: ' + str(numero_aleatorio))

verdes = [0, 37]
rojos = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36]

if numero_aleatorio in verdes:
    print('')
elif numero_aleatorio in rojos:
    print('Paga: Rojo')
else:
    print('Paga: Negro')

if numero_aleatorio in verdes:
    print('')
elif numero_aleatorio % 2 == 0:
    print('Paga: Par')
else:
    print('Paga: Impar')

if numero_aleatorio in verdes:
    print('')
elif numero_aleatorio <= 18:
    print('Paga del 1 al 18')
else:
    print('Paga del 19 al 36')

### Modificación Paula

In [96]:
from random import randint

numero_aleatorio = randint(0, 37)
if numero_aleatorio == 37:
    print('El giro resultó en: 00')
    print('Paga: 00')
else:
    print('El giro resultó en: ' + str(numero_aleatorio))
    print('Paga: ' + str(numero_aleatorio))

verdes = [0, 37]
rojos = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36]

if numero_aleatorio in verdes:
    pass
else:
    if numero_aleatorio in rojos:
        print('Paga: Rojo')
    else:
        print('Paga: Negro')

    if numero_aleatorio % 2 == 0:
        print('Paga: Par')
    else:
        print('Paga: Impar')

    if numero_aleatorio <= 18:
        print('Paga del 1 al 18')
    else:
        print('Paga del 19 al 36')

El giro resultó en: 29
Paga: 29
Paga: Negro
Paga: Impar
Paga del 19 al 36

### Libro

In [ ]:
#
## Display the bets that pay out in a roulette simulation
#
from random import randrange
# Simulate spinning the wheel, using 37 representing 00
value = randrange (0,38)
if value == 37:
    print("The spin resulted in 00...")
else:
    print ("The spin resulted in %d..." % value)
#Display the payout for a single number
if value ==37:
    print ("Pay 00")
else:
    print ("Pay", value)
#Display the color payout
#The first line in the condition checks for 1,3,5,7,9
#The second line in the condition checks for 12,14,16,18
#The third line in the condition checks for 19,21,23,25,27
# The fourth line in the condition checks for 30, 32, 34 and 36
if value %2==1 and value >=1 and value <=9 or \
    value %2==0 and value >=12 and value <= 18 or \
    value %2 ==1 and value >=19 and value <=27 or \
    value %2 ==0 and value >=30 and value <=36:
    print ("Pay red")
elif value ==0 or value ==37:
    pass
else:
    print ("Play Black")
#Display the odd vs even payout
if value >=1 and value <=36:
    if value %2==1:
        print ("Play odd")
    else:
        print ("Pay even")
#Display the lower number vs upper number payout
if value >=1 and value <= 18:
    print ("Pay 1 to 18")
elif value >=19 and value <=36:
    print("Pay 19 to 36")

### Sergio Monsalve

In [ ]:
#Ejercio 60

from random import choice

verdes = [0, -1]
rojos = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36]
negros = [2, 4, 6, 8, 10, 11, 13, 15, 17, 20, 22, 24, 26, 28, 29, 31, 33, 35]

todos = verdes + rojos + negros

ruleta = choice(todos)

if ruleta == -1:
    print("Paga 00")
elif ruleta == 0:
    print("Paga 0")
else:
    print(f"Paga {ruleta}")
    if ruleta in rojos:
        print("Paga rojos")
    elif ruleta in negros:
        print("Paga negros")

    if ruleta % 2 == 0:
        print("paga par")
    else:
        print("paga inpar")

    if ruleta < 19:
        print("paga entre 1 y 18")
    else:
        print("paga entre 19 y 36")

In [97]:
from random import choice

aleatorio = choice([randint(0, 36), '00', 'Hola'])
print(aleatorio)

00

In [123]:
aleatorio = choice([randint(0, 36), randint(100, 110), randint(1000, 1010)])
aleatorio

1004

In [122]:
choice([1, 2, 3, 50])

50

In [124]:
a = [1, 2, 3]
b = [1, [1, 2, 3], 4, "hola"]

print(a)
print(b)

[1, 2, 3]
[1, [1, 2, 3], 4, 'hola']

In [125]:
a = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

- Paquete para manejar matrices: numpy
- Paquete para manejar tablas de datos: pandas

## Diccionarios
- Son contenedores que utilizan el concepto de **llave - valor** (**key-value pairs**)
- Se escribe con **dict()** o con {}

In [131]:
a = dict()
print(a)
a["Pedro"] = 1
print(a)
{"Pedro": 1} == dict(Pedro=1)

{}
{'Pedro': 1}

True

In [126]:
mi_primer_diccionario = {
    "Pedro": 5.,
    "Juliana": 4.9,
    "Diego": 4.8,
}

In [127]:
mi_primer_diccionario["Pedro"]

5.0

In [128]:
mi_primer_diccionario["Pedro"] = 4.4

In [129]:
mi_primer_diccionario

{'Pedro': 4.4, 'Juliana': 4.9, 'Diego': 4.8}

In [132]:
mi_primer_diccionario["Daniel"] = 4.7

In [133]:
mi_primer_diccionario

{'Pedro': 4.4, 'Juliana': 4.9, 'Diego': 4.8, 'Daniel': 4.7}

In [134]:
diccionario_excel = {
    "id_usuario": [],
    "total_venta": [],
    "numero_de_ventas": [],
}

In [135]:
diccionario_excel

{'id_usuario': [], 'total_venta': [], 'numero_de_ventas': []}

In [136]:
diccionario_excel["id_usuario"].append(1)
diccionario_excel["total_venta"].append(10)
diccionario_excel["numero_de_ventas"].append(1)

In [137]:
diccionario_excel

{'id_usuario': [1], 'total_venta': [10], 'numero_de_ventas': [1]}

In [138]:
diccionario_excel["id_usuario"].append(2)
diccionario_excel["total_venta"].append(20)
diccionario_excel["numero_de_ventas"].append(1)

In [139]:
diccionario_excel

{'id_usuario': [1, 2], 'total_venta': [10, 20], 'numero_de_ventas': [1, 1]}

**Nota:** Uso del +=

In [140]:
a = 0
a = a + 1
a

1

In [141]:
a = 0
a += 1
a

1

In [143]:
diccionario_excel["total_venta"][0] += 1
diccionario_excel["numero_de_ventas"][0] += 1

In [144]:
diccionario_excel

{'id_usuario': [1, 2], 'total_venta': [11, 20], 'numero_de_ventas': [2, 1]}

# Exercise 104: Sorted Order

Write a program that reads 3 integers from the user and stores them in a list. Use either the
 sort method or the sorted function to sort the list. Display the resulting list.

In [145]:
lista = [
    int(input('Entero 1: ')),
    int(input('Entero 2: ')),
    int(input('Entero 3: '))
]

sorted(lista)  # sorted function

[0, 3, 10]

In [146]:
lista

[3, 0, 10]

In [147]:
lista.sort()  # sort method

In [148]:
lista

[0, 3, 10]