# Dudas Sesión Anterior

In [ ]:
# Ejercicio

In [ ]:
# Ejercicio 48
"""
0 Dragon
1 Snake
2 Horse
3 Sheep
4 Monkey
5 Rooster
6 Dog
7 Pig
8 Rat
9 Ox
10 Tiger
11 Hare
"""
year = int(input("Por favor ingrese un año: "))
zodiaco = year%12
animal =""
if(zodiaco == 0): 
    animal = "Dragon"
elif(zodiaco == 1): 
    animal = "Snake"
elif(zodiaco == 2): 
    animal = "Horse"
elif(zodiaco == 3): 
    animal = "Sheep"
elif(zodiaco == 4): 
    animal = "Monkey"
elif(zodiaco == 5): 
    animal = "Rooster"
elif(zodiaco == 6): 
    animal = "Dog"
elif(zodiaco == 7): 
    animal = "Pig"
elif(zodiaco == 8): 
    animal = "Rat"
elif(zodiaco == 9): 
    animal = "Ox"
elif(zodiaco == 10): 
    animal = "Tiger"
elif(zodiaco == 11): 
    animal = "Hare"

print(f"El zodiaco para el año {year} es {animal}")

In [ ]:
# Ejercicio 38

#mes = int(input("Por favor ingrese un mes: "))

# dias =""
# if(mes == 1): 
#     dias = 31
# elif(mes == 2): 
#     dias = "28 o 29 días"
# elif(mes == 3): 
#     dias = 31
# elif(mes == 4): 
#     dias = 30
# elif(mes == 5): 
#     dias = 31
# elif(mes == 6): 
#     dias = 30
# elif(mes == 7): 
#     dias = 31
# elif(mes == 8): 
#     dias = 31
# elif(mes == 9): 
#     dias = 30
# elif(mes == 10): 
#     dias = 31
# elif(mes == 11): 
#     dias = 30
# elif(mes == 12): 
#     dias = 31
# else:
#     print("Ingrese un mes valido (1-12): ")

# print(f"El mes {mes} tiene {dias} días")

# Solución Con diccionarios


mes = input("Por favor ingrese un mes: ")

meses = {
    "enero":31,
    "febrero":"28 o 29",
    "marzo":31
}

print(f"El mes {mes.upper()} tiene {meses[mes.lower()]} días")

# Ciclos

## Ciclos While

In [ ]:
contador = 0
while( contador < 20 ):
    contador += 1
    print(contador)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
cont = 0
while(True):
    if(cont>20):
        break
    cont+=1
    print(cont)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
# NO Ejecutar
cont = 0
while(True):
    if(cont>=10):
        break
    cont+=1
    print(cont)

1
2
3
4
5
6
7
8
9
10

## Ciclos For

In [ ]:
letras = ['a','b','c','d','e']
for e in letras:
    print(e)

a
b
c
d
e

In [ ]:
print(list(range(48,100,3)))

[48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
letras = ['a','b','c','d','e']
flag = 0
while(flag<len(letras)):
  print(letras[flag])
  flag += 1

a
b
c
d
e

In [ ]:
for i in range(61,81):
    print(f"{i}.py ", sep=" ")

61.py
62.py
63.py
64.py
65.py
66.py
67.py
68.py
69.py
70.py
71.py
72.py
73.py
74.py
75.py
76.py
77.py
78.py
79.py
80.py

In [ ]:
z = 7
x = 1
while z > 0:
    print(' ' * z + '*' * x + ' ' * z)
    x+=2
    z-=1

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [ ]:
from random import shuffle

estudiantes = ["Andrés Mauricio Vergel Miranda","Catalina Espinal Jaramillo","César Augusto Gómez González","César Rubents Ramírez Monsalve","Diego Alexander Higuita Jaramillo","Edwin Alejandro Bejarano García","José Orlando Agudelo Barrera","Laura Vanessa Hernández Acevedo","Maritza Medina Giraldo","Sebastián Zapata Granada","Yuli Marina Ledezma Maturana","Tomas Restrepo"]
estudiantes2 = shuffle(estudiantes)
for i in range(12):
  print(f"grupo{(i%4)+1}:")
  print(estudiantes[i])

grupo1:
Sebastián Zapata Granada
grupo2:
César Augusto Gómez González
grupo3:
César Rubents Ramírez Monsalve
grupo4:
Yuli Marina Ledezma Maturana
grupo1:
Diego Alexander Higuita Jaramillo
grupo2:
José Orlando Agudelo Barrera
grupo3:
Edwin Alejandro Bejarano García
grupo4:
Catalina Espinal Jaramillo
grupo1:
Andrés Mauricio Vergel Miranda
grupo2:
Maritza Medina Giraldo
grupo3:
Tomas Restrepo
grupo4:
Laura Vanessa Hernández Acevedo

grupo1: Ejercicio 64
Sebastián Zapata Granada
Diego Alexander Higuita Jaramillo
Andrés Mauricio Vergel Miranda

grupo2: Ejercicio 65
César Augusto Gómez González
José Orlando Agudelo Barrera
Maritza Medina Giraldo

grupo3: Ejercicio 66
César Rubents Ramírez Monsalve
Edwin Alejandro Bejarano García
Tomas Restrepo

grupo4: Ejercicio 67 
Yuli Marina Ledezma Maturana
Catalina Espinal Jaramillo
Laura Vanessa Hernández Acevedo

In [ ]:
# Ejercicio 61: promedio

valor = int(input("ingrese valores, para terminar ingrese 0: "))
cont = 0
promedio = 0
while(valor!=0):
  cont+=1
  promedio += valor
  valor = int(input("ingrese valores, para terminar ingrese 0: "))
  
print(f"El promedio de los {cont} numeros ingresados es: {promedio/cont}")

ingrese valores, para terminar ingrese 0: 1
ingrese valores, para terminar ingrese 0: 2
ingrese valores, para terminar ingrese 0: 3
ingrese valores, para terminar ingrese 0: 0
El promedio de los 3 numeros ingresados es: 2.0

In [ ]:
# Ejercicio 62: Tabla de descuentos

precios = [4.95, 9.95, 14.95, 19.95, 24.95]
for precio in precios:
  print(f"precio original: {precio}, tiene un descuento de {precio*0.60:.2f} precio a pagar: {precio*0.4:.2f}")

precio original: 4.95, tiene un descuento de 2.97 precio a pagar: 1.98
precio original: 9.95, tiene un descuento de 5.97 precio a pagar: 3.98
precio original: 14.95, tiene un descuento de 8.97 precio a pagar: 5.98
precio original: 19.95, tiene un descuento de 11.97 precio a pagar: 7.98
precio original: 24.95, tiene un descuento de 14.97 precio a pagar: 9.98

In [ ]:
# Ejercicio 62: Tabla de descuentos  modificado

precios = [4.95, 9.95, 14.95, 19.95, 24.95]

for precio in precios:
  print(f"precio original: {precio}, precio con descuento {precio*0.60:.2f}")

precio original: 4.95, precio con descuento 2.97
precio original: 9.95, precio con descuento 5.97
precio original: 14.95, precio con descuento 8.97
precio original: 19.95, precio con descuento 11.97
precio original: 24.95, precio con descuento 14.97

In [ ]:
from random import randint

max = 0
cont = 0
for i in range(100):
   
  valor = randint(1,100)
  if(valor>max):
    max = valor
    cont = cont + 1
    print(f"{valor} -> Actualizado el max")
  else:
    print(f"{valor}")
    
print(f"El máximo fue actualizado {cont} veces")

84 -> Actualizado el max
76
7
29
81
2
44
92 -> Actualizado el max
12
99 -> Actualizado el max
6
53
93
31
3
90
89
25
77
57
44
60
2
94
96
38
44
68
40
31
98
3
16
81
6
15
49
61
68
100 -> Actualizado el max
62
52
28
39
20
59
66
11
53
11
65
53
21
37
65
46
76
58
78
20
76
39
14
74
38
10
15
74
59
88
18
62
1
26
40
16
82
29
42
85
30
58
1
74
54
72
26
48
61
50
91
63
42
38
26
42
38
76
28
96
El máximo fue actualizado 4 veces

In [ ]:
from random import randint

max = 0
cont = 0
iterador = 0
while(iterador < 100):
  iterador += 1
  valor = randint(1,100)
  if(valor>max):
    max = valor
    cont = cont + 1  # cont+=1
    print(f"{valor} -> Actualizado el max")
  else:
    print(f"{valor}")
print(f"El máximo fue actualizado {cont} veces")

15 -> Actualizado el max
44 -> Actualizado el max
53 -> Actualizado el max
97 -> Actualizado el max
32
5
72
19
69
2
2
94
97
98 -> Actualizado el max
81
66
30
64
11
20
1
87
64
61
69
45
17
77
60
31
69
43
99 -> Actualizado el max
61
12
32
21
19
28
27
9
48
12
93
17
70
85
98
65
78
13
56
74
54
30
25
79
100 -> Actualizado el max
85
92
16
15
26
11
35
54
41
41
49
39
61
75
57
57
87
15
7
62
47
71
55
52
78
34
68
36
97
87
57
13
97
68
34
68
92
34
71
59
38
40
El máximo fue actualizado 7 veces

In [ ]:
v = input("Ingrese algo")
while(v!=""):
  v = input("Ingrese algo")
  print(v)
print("Terminé")

Ingrese algoa
Ingrese algob
b
Ingrese algoc
c
Ingrese algod
d
Ingrese algo

Terminé

In [ ]:
x = input("X: ")
y = input("Y: ")

while(x!=""):
  x = input("X: ")
  y = input("Y: ")

X: 0
Y: 1
X: 2
Y: 1
X: 3
Y: 0
X:
Y: