# Clase 1

* I/O: Entrada y Salida Básica
* Tipos de Datos:
    * int
    * float
    * String
      * 'Simple' 
      * "Doble"  
      * """Triple"""
    * bool
* Variables
* Tipado dinamico
* Expresiones
* Comentarios
* Aritmética y Operadores
* Contenedores:
    * Lista
    * Tupla
    * Diccionarios
    * Conjuntos
* Valores de Verdad y Comparaciones
* Palabras reservadas

In [ ]:
# String

nombre = "Manuel"
profesion = "ingeniero"

# Entrada y Salida  (Básica)

* input("Mensaje Indicatorio para el usuario")
* print(variables, "Esto es un texto")

In [ ]:
nombre = input("Por favor Ingrese su nombre: ")
print(nombre)

Por favor Ingrese su nombre: Antonio Banderas
Antonio Banderas

In [ ]:
#nombre1 = input("ingrese un nombre: ")
nombre1 = input( "ingrese un nombre: " )

ingrese un nombre: Alejandro

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
edad = 36
edad = edad +1 
print(edad)

37

In [ ]:
pezo = 1
peso = 100

print(pezo, peso)

1 100

In [ ]:
print( "texto" , "escribir", edad, nombre)

texto escribir 37 Sergio

In [ ]:
pi = 3.1415926535
print(pi)

4.1415926535

In [ ]:
# int a = 1; #definiendo una variable a, cuyo valor es 1. (en otro lenguaje de programación)

variable1 = "Una descripcion"
print(variable1)

variable1 = 17
print(variable1)

variable1 = 5.13
print(variable1)

variable1 = False
print(variable1)

Una descripcion
17
5.13
False

In [ ]:
s1 = 'Esto es una cadena con comillas simples'
s2 = "Esto tiene comillas dobles"
s3 = """A diferencia de las anteriores
la triple comilla doble
puede tener multiples lineas"""  # String doc

print(s1)
print(s2)
print(s3)

Esto es una cadena con comillas simples
Esto tiene comillas dobles
A diferencia de las anteriores
la triple comilla doble
puede tener multiples lineas

# Operadores

https://docs.python.org/3/library/operator.html


* Suma
* Resta
* Multiplicacion
* División
* Potencia
*

In [ ]:
print(5+9783)

9788

In [ ]:
print(23//5)

4

In [ ]:
print(23%5) # El operador Modulo nos entrega el Residuo de una división

3

In [ ]:
print(1 + 2)

3

In [ ]:
print("esto es" + " una cadena")

esto es una cadena

In [ ]:
print(False+True)

1

In [ ]:
var1 = 312
var2 = "Jose Orlando"

print( var2 + var1) # hay operaciones que no se pueden realizar entre ciertos tipos de datos

TypeError: ignored

# The python workbook

In [ ]:
# Ej 1

nombre = "Manuel Andrés Monsalve Castañeda"
dir = "Cr 49 # 67-10"

#print("favor entregar a ",nombre, " en la direccion: ", dir)
print(f"favor entregar a  {nombre}  en la direccion:  {dir}")

favor entregar a  Sergio Andrés Monsalve Castañeda  en la direccion:  Cr 49 # 67-10

In [ ]:
# Ejercicio 2: 
nombre = input("por favor ingresa tu nombre: ")
print("hola ", nombre)

por favor ingresa tu nombre: Antonio
hola  Antonio

In [ ]:
# error de tipos, no puedo multiplicar strings.

base = input("Por favor ingrese el ancho: ")
largo = input("por favor ingrese el largo: ")

print(f"el area de un rectangulo ancho: {base} y largo: {largo} es {base*largo} ")

Por favor ingrese el ancho: 4
por favor ingrese el largo: 5

TypeError: ignored

In [ ]:
# Estamos pidiendole a python que intente cambiar el tipo string por flotante

ancho = float(input("Por favor ingrese el ancho en metros: "))
largo = float(input("por favor ingrese el largo en metros: "))

print(f"el area de un rectangulo ancho: {ancho} y largo: {largo} es {ancho*largo} metros cuadrados ")

Por favor ingrese el ancho en metros: 4
por favor ingrese el largo en metros: 5.2
el area de un rectangulo ancho: 4.0 y largo: 5.2 es 20.8 metros cuadrados

In [ ]:
# Ejercicio 4

In [ ]:
# Dudas

In [ ]:
PRINT("hola")

NameError: ignored

In [ ]:
print("hola")

hola

In [ ]:
# escribo algo para aclarar lo que voy a hacer

SyntaxError: ignored

In [ ]:
nombre = "sergio"
print(nombre)

sergio

las mayusculas y las minusculas importan, son diferentes en python

In [ ]:
vAr1 = 10
var1 = 20
print(vAr1, var1)

10 20

In [ ]:
""" 
Ejercicio 5
$0.10 1 litro o menor
$0.25 mayor a un litro

Escriba un programa que lea el numero de contenedores de cada tamaño
y su programa debe calcular e imprimir el deposito de los contenedores
"""

pequeños = int(input("Ingrese la cantidad de contenedores pequeños"))
grandes  = int(input("Ingrese la cantidad de contenedores grandes"))
deposito = pequeños*0.10 + grandes * 0.25
print(f"el deposito a retornar seria de: ${deposito}" )


# print("el deposito a retornar seria de: $"+str(deposito))
# print(f"el deposito a retornar seria de: $", deposito )

Ingrese la cantidad de contenedores pequeños4
Ingrese la cantidad de contenedores grandes3
el deposito a retornar seria de: $1.15
el deposito a retornar seria de: $1.15
el deposito a retornar seria de: $ 1.15

In [ ]:
你好 = "hola"
print(你好)

hola

In [ ]:
pi = 3.1415926535
cantidad = 5

print(type(pi))
print(type(cantidad))

<class 'float'>
<class 'int'>

In [ ]:
# Ejercicio 32
"""
lea 3 enteros
devuelva de menor a mayor...
usar funciones min y max
"""

val1 = int(input("ingrese valor 1: "))
val2 = int(input("ingrese valor 2: "))
val3 = int(input("ingrese valor 3: "))

minimo = min(val1,val2,val3)
maximo = max(val1,val2,val3)
medio = val1+val2+val3-minimo-maximo

print("El minimo es: ",minimo)
print("El medio es: ",medio)
print("El máximo es: ",maximo)

ingrese valor 1: 234
ingrese valor 2: 123
ingrese valor 3: 412
El minimo es:  123
El medio es:  234
El máximo es:  412

In [ ]:
print(sorted([int(x) for x in input("ingrese 3 numeros").split()]))

ingrese 3 numeros54 14 27
[14, 27, 54]

# Comentarios

Codigo que no va a ser intepretado por python, es decir, va a ser ignorado y es de uso exclusivo del programador.

En python los comentarios se realizan anteponiendo el simbolo # 

* esto
* es 
* una 
* lista
* de 
* items

In [ ]:
# Ejercicio 33
"""
pan -> 3.49
descuento de viejo -> 60%
(cantidad) -> (Valor normal, valor descuento, total a pagar)
"""
precio = 3.49
descuento = 0.6
cantidad = int(input("Cuantos panes desea comprar?"))

valor = precio * cantidad
descontado = valor * descuento

print(f"el precio sin descuento sería: {valor}")
print(f"el descuento generado es de: {descontado}")
print(f"el total a pagar seria de: {valor-descontado}")

Cuantos panes desea comprar?10
el precio sin descuento sería: 34.900000000000006
el descuento generado es de: 20.94
el total a pagar seria de: 13.960000000000004

Compilado vs Interpretado

Codigo en un Lenguaje -> Lenguaje de Maquina

In [ ]:
print(10*3.1415)

31.415000000000003

In [ ]:
# Ejercicio 6
"""
(costo comida) -> 
impuestos = 0.19
propina = 0.18
"""

costo = float(input("Ingrese el valor de su comida: "))
impuesto = costo*0.19
propina = costo*0.18
total = costo+impuesto+propina

print(impuesto,propina,total)

Ingrese el valor de su comida: 100
19.0 18.0 137.0

# Enlaces

* https://docs.python.org/es/3/tutorial/