In [ ]:
# Creación de funciones
# Uso funciones de otras personas 

from functools import reduce
import math
import random

def suma(a,b):
    """Docstring"""
    return(a+b)

def suma(*args):
    return(reduce((lambda a,b:a+b),*args))


def n_random_nums_list(n):
   return [(random.randint(1,100)) for i in range(n)]
     
l = n_random_nums_list(10)
print(l)
print(suma(l))

# Funciones

* funciones sin parametros
* funciones con parametros fijos
* funciones con parametros con nombres
* funciones con numero indeterminado de parametros
* el retorno!
* funciones que ya hemos visto
  * print
  * input
  * max
  * min
  * randint

In [ ]:
def nombre_funcion():

SyntaxError: ignored

In [ ]:
def nombre_funcion():
  pass

In [ ]:
def nombre_funcion():
  print("Hola!")

In [ ]:
def nombre_funcion2():
  return("Chao!")

In [ ]:
nombre_funcion()

Hola!

In [ ]:
print(nombre_funcion2())

Chao!

In [ ]:
nombre_funcion2()

'Chao!'

In [ ]:
def multiplicacion(a,b):
  return a*b

print(multiplicacion(2,4))

8

In [ ]:
def division(a,b):
  #print(a/b)
  return a/b

division(2,4)

0.5

In [ ]:
division(multiplicacion(4,4),2)

8.0

In [ ]:
multiplicacion(division(50,5),2)

20.0

## parametros fijos

In [ ]:
a = int(input("ingrese un valor"))
b = int(input("ingrese un valor"))
c = int(input("ingrese un valor"))

In [ ]:
def max(a,b,c):
  max = a
  if(b>max):
    max = b
  if(c>max):
    max = c
  return max

a = int(input("ingrese un valor"))
b = int(input("ingrese un valor"))
c = int(input("ingrese un valor"))

In [ ]:
print(max(4,1,5))
print(max(1,4,5))
print(max(5,1,4))

5
5
5

In [ ]:
max(1,2,3)

3

In [ ]:
var1 = 5
var2 = 1
var3 = 4


print(max(var1,var2,var3))

5

In [ ]:
def receta_torta(harina, mantequilla, huevos, azucar):
  batir_huevos()
  mezclar_matequilla(mantequilla)
  pass
  pass
  torta = hornear(mantilla, huevos, azucar, harina)
  return torta

In [ ]:
def area_cuadrado(l):
  return(l*l)

In [ ]:
print(area_cuadrado(2))

4

In [ ]:
print(area_cuadrado(4))

16

## Funciones con Cantidad de Parametros indeterminados

In [ ]:
def sumar_nums(*args):
  suma = 0
  for e in args:
    suma += e
  return suma

In [ ]:
print(sumar_nums(1,2))

3

In [ ]:
print(sumar_nums(1,2,3,4))

10


# Funciones con parametros con nombre

In [ ]:
def restar_nums(a,b):
  return(a-b)

print(restar_nums(10,5))
print(restar_nums(5,10))

5
-5

In [ ]:
def restar_nums2(a=4,b=2):
  return(a-b)

print(restar_nums2(100,50))
print(restar_nums2(b=100,a=50))
print(restar_nums2())

50
-50
2

## Funciones con Cantidad de Parametros k,v indeterminados

In [ ]:
def restar_nums3(**kwargs):
  for k,v in kwargs.items():
    print(f"{k} -> {v}")

restar_nums3(base=5,alto=3,ancho=2)

base -> 5
alto -> 3
ancho -> 2

In [ ]:
restar_nums3(largo=10, alto=20, ancho=40, piso=2)

largo -> 10
alto -> 20
ancho -> 40
piso -> 2

In [ ]:
diccionario = {'a':1, 'b':2, 'c':3}

In [ ]:
diccionario.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

# Ejercicios

In [ ]:
## Ejercicio 81: hipotenusa

"""


Write a function that takes the lengths of the two shorter sides of a right triangle as
its parameters. Return the hypotenuse of the triangle, computed using Pythagorean
theorem, as the function’s result. Include a main program that reads the lengths of
the shorter sides of a right triangle from the user, uses your function to compute the
length of the hypotenuse, and displays the result.
"""

def hip(a,b):
  return((a**2 + b**2)**0.5)

a = float(input("Ingrese el lado corto del triangulo rectangulo: "))
b = float(input("Ingrese el otro lado corto del triangulo rectangulo: "))
print(hip(a,b))

Ingrese el lado corto del triangulo rectangulo: 2
Ingrese el otro lado corto del triangulo rectangulo: 3
3.605551275463989

In [ ]:
def hip(a,b):
  return((a**2 + b**2)**0.5)

In [ ]:
print(hip(2,3))

3.605551275463989

In [ ]:
print(hip(4,4))

5.656854249492381

In [ ]:
print((5**2 + 7*2)**0.5)

6.244997998398398

In [ ]:
c = input("Ingrese un numero")
print(float(c)+1)

Ingrese un numero5.2
6.2

In [ ]:
# Exercicio 82: Tarifa del Taxi
"""
In a particular jurisdiction, taxi fares consist of a base fare of $4.00, plus $0.25
for every 140 meters traveled. Write a function that takes the distance traveled (in
kilometers) as its only parameter and returns the total fare as its only result. Write a
main program that demonstrates the function.
Hint: Taxi fares change over time. Use constants to represent the base fare and
the variable portion of the fare so that the program can be updated easily when
the rates increase.
"""

BASE = 4.0
PRECIO_DISTANCIA = 0.25 # Por cada 140 metros recorridos
METROS_TARIFA = 140

def tarifa_taxi(distancia):
  return(BASE+(PRECIO_DISTANCIA*(distancia*1000)/METROS_TARIFA))

print(tarifa_taxi(0)) # -> 4.0
print(tarifa_taxi(0.140)) # -> 4.25
print(tarifa_taxi(0.280)) # -> 4.5
print(tarifa_taxi(1.4)) # -> 6.5

4.0
4.25
4.5
6.5

In [ ]:
# Exercicio 103: Fechas Mágicas
"""A magic date is a date where the day multiplied by the month is equal to the two digit
year. For example, June 10, 1960 is a magic date because June is the sixth month, and
6 times 10 is 60, which is equal to the two digit year. Write a function that determines
whether or not a date is a magic date. Use your function to create a main program
that finds and displays all of the magic dates in the 20th century. You will probably
find your solution to Exercise 100 helpful when completing this exercise.
"""


def es_fecha_magica(dia=10, mes="junio",año=1960):
  m = 0
  if(mes=="enero"):
    m=1
  elif(mes=="febrero"):
    m=2
  elif(mes=="marzo"):
    m=3
  elif(mes=="abril"):
    m=4
  elif(mes=="mayo"):
    m=5
  elif(mes=="junio"):
    m=6
  elif(mes=="julio"):
    m=7
  elif(mes=="agosto"):
    m=8
  elif(mes=="septiembre"):
    m=9
  elif(mes=="octubre"):
    m=10
  elif(mes=="noviembre"):
    m=11
  elif(mes=="diciembre"):
    m=12

  a = año%100
  return(dia*m == a)

In [ ]:
print(es_fecha_magica())

True

In [ ]:
print(es_fecha_magica(dia=11))

False

In [ ]:
print(es_fecha_magica(dia=11,año=1966))

True

In [ ]:
print(es_fecha_magica(10,"junio",1961))

False

In [ ]:
print(es_fecha_magica(10,"junio",1960))

True

In [ ]:
print(es_fecha_magica(10,1960,"junio"))

TypeError: ignored

In [ ]:
print(int(5/7))

0

In [ ]:
def cancion(*args):
  inicio = "On the third day of Christmas\nmy true love sent to me:\n"""
  for e in args:
    inicio += e + "\n"
    print(inicio+"\n")


cancion("Three French hens","Two turtle doves","And a partridge in a pear tree")

On the third day of Christmas
my true love sent to me:
Three French hens


On the third day of Christmas
my true love sent to me:
Three French hens
Two turtle doves


On the third day of Christmas
my true love sent to me:
Three French hens
Two turtle doves
And a partridge in a pear tree

| Alejandra Patricia Ramos Álvarez      -> 
| Andrés Mauricio Vergel Miranda        -> 90
| Catalina Espinal Jaramillo            -> 89
| César Augusto Gómez González          -> 91
| César Rubents Ramírez Monsalve        -> 96
| Diego Alexander Higuita Jaramillo     -> 93
| Edwin Alejandro Bejarano García       ->
| Ferney De Jesús Noreña Soto           ->
| Fran Fernando Olarte Ramírez          ->
| Isabella Orozco Ramírez               ->
| José Orlando Agudelo Barrera          -> 84
| Laura Vanessa Hernández Acevedo       -> 94
| Luis Ernesto Paz Marulanda            ->
| Maritza Medina Giraldo                -> 100
| Marleny Jaramillo Arango              -> 
| Richard Adalber Tirado                ->
| Sebastián Zapata Granada              ->
| York Michel Polanco Piedrahíta        ->
| Yuli Marina Ledezma Maturana          -> 83
Tomas ->  92

In [ ]:
a = "   -12   ".strip()

In [ ]:
a[0]

'-'

In [ ]:
for c in :
  print(c)

-
1
2

In [ ]:
a[1:].isdigit()

True

In [ ]:
int(a[1:])

12

In [ ]:
def is_good(psw):
  resp = False
  may = 0
  min = 0
  if(len(psw)>=8):
    for c in psw:
      if(c.isupper()):
        may +=1
      
      c.islower()
    resp = True

  if len>=8, and 
  return resp

In [ ]:
"A".isupper()

True

In [ ]:
"a".isupper()

False

In [ ]:
"1".isdigit()

True

In [ ]:
def int_to_ordinal(num):
  if(num == 1):
    ans="primero"
  elif(num == 2):
    ans = "segundo"
  

  return ans

In [ ]:
a = int(input("ingrese un valor"))
b = int(input("ingrese un valor"))
c = int(input("ingrese un valor"))

def maxi(a,b,c):
  max = a
  if(b>max):
    max = b
  if(c>max):
    max = c
  return max

print(maxi(a,b,c))

ingrese un valor1
ingrese un valor2
ingrese un valor3
3

In [ ]:
"1".isdigit

In [ ]:
x = 17
primo = True
for n in range(2,x):
  if(x%n==0):
    primo = False
    print(f"{n} divide a {x}")
print(primo)

True